@use "sass:color";
@use "../../../../../colors.scss" as *;

.selector-container-wrapper {
  z-index: 9999;
  position: absolute;
  width: 250px;
  max-height: 450px;
  min-height: 0;
  padding: 20px;
  background-color: color-mix(in srgb, var(--clickgui-base-color) 95%, transparent);
  outline: 1px solid color-mix(in srgb, var(--clickgui-text-color) 15%, black);
  border-radius: 3px;
}


.select-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--clickgui-text-color);
}

.select-selector {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.icon-wrapper {
  transition: background-color 0.3s ease;
  background-color: color-mix(in srgb, var(--clickgui-base-color) 85%, transparent);
  border: 1px solid color-mix(in srgb, var(--clickgui-text-color) 15%, black);
  border-radius: 3px;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-item {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;

  &:hover {
    .name {
      color: var(--clickgui-text-color);
    }

    .icon-wrapper {
      background-color: color-mix(in srgb, var(--clickgui-text-color) 20%, black);
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.name {
  transition: color 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--clickgui-text-dimmed-color);
}

.search {
  position: relative;
}

.search-input {
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: none;
  background: transparent;
  padding-left: 35px;
  outline: solid 1px color-mix(in srgb, var(--clickgui-text-color) 10%, black);
  color: white;
}

.search-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: 20px;
    height: 20px;
  }
}

.results {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.items-group-title {
  font-size: 12px;
  color: color-mix(in srgb, var(--clickgui-text-dimmed-color) 60%, transparent);
  font-weight: 600;
  margin-left: 5px;
  text-transform: uppercase;
}
