@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body {
  font-family: Manrope, sans-serif!important;
  font-size: 1.10rem;
  font-weight: 500;

  background: url('bg.jpg') no-repeat center;
  background-size: 100%;
}

.text-xs {
  font-size: .8rem;
}
.text-sm {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.8rem;
}
.text-xl {
  font-size: 2.5rem;
}
.text-2xl {
  font-size: 2.8rem;
}
.text-3xl {
  font-size: 3rem;
}
.text-4xl {
  font-size: 3.8rem;
}
.text-5xl {
  font-size: 4rem;
}
.text-6xl {
  font-size: 5rem;
}
.top-right {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
}
.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}
.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: right;
}
.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
  text-align: right;
}
.custom-button {
  background: none;
  padding: .75rem 1.75rem;
  color: white!important;
  border: 1px solid white;
  transition: background .25s, color .25s;
}

.custom-button:hover {
  background: #4265ff;
  color: white;
}
