.button {
  --_background: var(--brand);
  --_foreground: #fff;

  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 32px;
  border-radius: 12px;
  transition: background-color 0.2s ease-in-out;
  backdrop-filter: blur(4px);
}

.button:hover {
  background-color: var(--brand);
}

.icon-wrapper {
  padding: 32px;
  margin-right: 32px;
  border-radius: 50%;
  background-color: var(--_background);
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  --_background: #fff;
  --_foreground: var(--brand);
}

.icon {
  width: 32px;
  height: 32px;
  color: var(--_foreground);
}

.label {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transition: color 0.2s ease-in-out;
}
