@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    /*     background-image: url("img/back.png");
        background-size: cover; */
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

.noUi-handle {
    background-color: var(--accent);
    box-shadow: unset;
    border: none;
    border-radius: 50%;
    height: 12px !important;
    width: 12px !important;
    transform: translate(-5px, 1px);
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-target {
    margin: 10px 0;
    height: 2px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: unset;
}

.noUi-connect {
    background-color: var(--accent);
}

.pcr-button {
    display: none;
}

.pcr-app {
    width: 100% !important;
    padding: 0 !important;
    background-color: transparent;
    margin-top: 8px;
    margin-bottom: -10px;
}

/* NOTE: Border radius disabled because of slight render bug */
.pcr-palette::before,
.pcr-palette {
    border-radius: 0 !important;
}
