:root {
  --primary-background-color: 0 0 0;
  --primary-text-color: 255 255 255;
  --primary-text-dimmed-color: rgb(var(--primary-text-color) / .9);
  --accent-color: 108 168 148;

  // ClickGUI
  --clickgui-base-background-color: var(--primary-background-color);
  --clickgui-base-text-color: rgb(var(--primary-text-color));
  --clickgui-base-text-dimmed-color: var(--primary-text-dimmed-color);
  --clickgui-base-accent-color: rgb(var(--accent-color));
  --clickgui-base-accent-darkened-color: color-mix(in hsl, color-mix(in hsl, var(--clickgui-base-accent-color) 70%, gray) 90%, black);
  --clickgui-base-accent-dimmed-color: rgb(var(--accent-color) / .15);

  --clickgui-background-color-full: rgb(var(--clickgui-base-background-color));
  --clickgui-background-color-dark: rgb(var(--clickgui-base-background-color) / .9);
  --clickgui-background-color-medium: rgb(var(--clickgui-base-background-color) / .8);
  --clickgui-background-color-light: rgb(var(--clickgui-base-background-color) / .5);

  --clickgui-menu-background-color: rgb(var(--clickgui-base-background-color) / .6);
  --clickgui-grid-color: rgb(128 128 128 / .25);
  --clickgui-global-settings-column-rule-color: rgb(var(--primary-text-color) / .12);

  --clickgui-switch-setting-unchecked-background-color: color-mix(in hsl, var(--clickgui-base-text-color) 45%, black);
  --clickgui-switch-setting-checked-background-color: color-mix(in oklch, color-mix(in oklch, var(--clickgui-base-accent-color) 40%, gray) 85%, black);
  --clickgui-slider-target-color: color-mix(in hsl, var(--clickgui-base-text-color) 20%, black);

  --clickgui-multi-choose-setting-error-color: rgb(252 65 48 / .1);
}
