@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #4677ff;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  /* background-color: #181a1b; */
}

/*@media screen and (max-width: 1366px) {
  body {
    zoom: 0.7;
  }
}

@media screen and (max-width: 1024px) {
  body {
    zoom: 0.5;
  }
}

@media screen and (max-height: 1000px) {
  body {
    zoom: 0.7;
  }
}

@media screen and (max-height: 900px) {
  body {
    zoom: 0.6;
  }
}

@media screen and (max-height: 700px) {
  body {
    zoom: 0.5;
  }
}

@media screen and (max-height: 540px) {
  body {
    zoom: 0.4;
  }
}*/

[data-radix-popper-content-wrapper] {
  zoom: var(--scale-factor);
}
