.module {
  color: var(--text-dimmed);
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  transition: ease background-color 0.2s, ease color 0.2s;
  position: relative;

  &:hover {
    background-color: rgba(0, 0, 0, 0.36);
  }

  &[data-enabled="true"] {
    color: var(--text);
  }

  .chevron {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    width: 12px;
    transition: transform 0.2s ease-out;
  }

  &[data-expanded="true"] .chevron {
    transform: translateY(-50%) rotate(0deg);
  }
}

.description {
  position: fixed;
  left: calc(var(--mouse-x));
  top: calc(var(--mouse-y) - 36px);
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 8px;
  z-index: 1000;
  pointer-events: none;
}
