.panel {
  border-radius: 5px;
  overflow: hidden;
  position: absolute;

  top: var(--y);
  left: var(--x);

  width: var(--width);

  &[data-expanded="true"] .toggle-icon {
    &::before {
      transform: rotate(90deg);
    }

    &::after {
      transform: rotate(180deg);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  border-bottom: solid 2px var(--accent);
  padding: 10px 15px;
  cursor: grab;
}

.panel[data-expanded="false"] .header {
  border-bottom: solid 2px transparent;
}

.panel[data-dragging="true"] header {
  cursor: grabbing;
}

.header .icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  pointer-events: none;
}

.header .title {
  flex-grow: 1;

  font-size: 14px;
  font-weight: 600;
  color: var(--text);
}

.header .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.header .toggle-icon {
  height: 12px;
  width: 12px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.4s ease-out;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.4s ease-out;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }
}

.resizable {
  background-color: var(--module);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modules {
  overflow: auto;
  height: var(--height);
}

::-webkit-scrollbar {
  width: 0;
}
