.searchbar {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 500px;
  background: rgba(0, 0, 0, 0.68);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  color: white;
}
