@use "../../../colors.scss" as *;

.pcr-button {
  display: none;
}

.pcr-app {
  width: 100% !important;
  padding: 0 !important;
  background-color: transparent;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: -10px;
}


.pcr-palette::before,
.pcr-palette {
  border-radius: 8px !important;
}

.color-pickr-button {
  border: 1px solid white !important;
}

.color-pickr-button:focus {
  outline: none !important;
}
