  
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: "Montserrat", sans-serif;
}