.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  height: 92px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 32px;
}
