.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  flex: 1 1 auto;
}
