.account {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  height: 98px;
  padding: 0 32px;
  width: 488px;
}

.face-wrapper {
  position: relative;
}

.face {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  margin-right: 16px;
}

.face img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.location {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-75%, -25%);
  border-radius: 50%;

  height: 24px;
  width: 24px;
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.account-info .username {
  font-weight: bold;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  color: #fff;
}

.account-info .account-type {
  font-weight: medium;
  color: #8b8d90;
  font-size: 20px;
}

.change-account {
  display: flex;
  align-items: center;
}

.change-account .pen {
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.change-account .pen:hover {
  cursor: pointer;
  opacity: 1;
}
