.button {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 6px;
  margin: 0 10px;

  font-size: 16px;
  color: white;
  font-weight: bold;
}

.button[data-variant="primary"] {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.36) 50%, #4677ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  will-change: background-position;
  transition: background-position 0.2s ease-out;
}

.button:hover {
  background-position: left bottom;
}

.button[data-variant="primary"] .icon-wrapper {
  background: var(--brand);
  padding: 16px;
}

.icon {
  width: 32px;
  height: 32px;
  color: #fff;
}

.button[data-variant="ghost"] .icon {
  opacity: 0.8;
}

.button[data-variant="ghost"]:hover .icon {
  opacity: 1;
}

.label {
  padding: 16px 32px;
}
