.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;

  display: grid;
  width: 100%;
  max-width: 512px;
  transform: translate(-50%, -50%);
  gap: 16px;
  background-color: black;
}

.close {
  position: absolute;
  right: 72px;
  top: 54px;
  z-index: 50;
  padding: 16px;
  cursor: pointer;

  border: 1px solid rgba(255, 255, 255, 0.5);
}

.close:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.close-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.header {
  display: flex;
  flex-direction: column;
  gap: px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  line-height: 1.2;
}