.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  width: 100%;
  transform-origin: center center;
}

.content {
  display: grid;
  width: 100%;
  max-width: 600px;
  gap: 16px;
  background-color: black;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  padding: 0 44px;
}

.close {
  position: absolute;
  right: 72px;
  top: 54px;
  z-index: 50;
  padding: 16px;
  cursor: pointer;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.close-icon {
  width: 16px;
  height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.close:hover .close-icon {
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  gap: px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  line-height: 1.2;
  padding-top: 32px;
  padding-bottom: 28px;
}

.divider {
  width: 60px;
  height: 8px;
  background-color: var(--brand);
  border-radius: 4px;
  margin: 0 auto;
}
