@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

*:focus {
    outline: none;
}

* {
    cursor: default !important;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    box-sizing: border-box;
    color: white;
}

body {
    background-size: cover;
    overflow: hidden;
    margin: 3rem;
    background-image: url("img/background.png");
    font-family: "Montserrat", sans-serif;
    user-select: none;
}
