.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 54px 72px;
  flex: 1 1 100%;

  gap: 80px;

  zoom: var(--scale-factor);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 0 0 98px;
}

.logo {
  height: 98px;
}

.content {
  display: flex;
  flex: 1 1 auto;
}
