.settings {
  border-left: solid 6px var(--accent);
  padding: 8px 12px;
  padding-right: 16px;
  background-color: var(--module);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.setting {
  .label,
  .value {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }

  &[data-type="configurable"] {
    .root {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      border-top: solid 1px rgba(255, 255, 255, 0.3);
      margin-top: 12px;
      padding-top: 12px;
    }

    .trigger {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      padding: 8px 0;

      .chevron {
        width: 12px;
        height: 12px;
        color: #fff;
        transition: transform 0.2s ease-out;
        transform: rotate(-90deg);
      }

      &[data-state="open"] {
        .chevron {
          transform: rotate(0deg);
        }
      }

      .label {
        flex: 1;
        text-align: left;
      }
    }

    .content {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-left: 16px;
      padding-right: 12px;
      margin-top: 8px;
      margin-bottom: 8px;

      border-left: solid 6px var(--accent);
      overflow: hidden;
    }
  }

  &[data-type="boolean"] {
    .container {
      display: flex;
      align-items: center;
      gap: 12px;
      padding-left: 4px;
    }

    .root {
      width: 20px;
      height: 12px;
      border-radius: 9999px;
      position: relative;
      background-color: rgba(255, 255, 255, 0.3);
      cursor: default;
      transition: ease background-color 0.2s;
      margin-bottom: 4px;

      &[data-state="checked"] {
        background-color: rgba(70, 119, 255, 0.5);
      }
    }

    .thumb {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-6px);
      display: block;
      width: 16px;
      height: 16px;
      background-color: var(--brand);
      border-radius: 9999px;
      transition: ease transform 0.1s;
      will-change: transform;

      &[data-state="checked"] {
        transform: translateY(-50%) translateX(10px);
      }
    }

    &:focus {
      .thumb {
        box-shadow: 0 0 0 2px white;
      }
    }
  }

  &[data-type="numeric"] {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    .slider {
      position: relative;
      display: flex;
      align-items: center;
      user-select: none;
      touch-action: none;
      width: 100%;
      margin-bottom: 12px;

      .track {
        height: 4px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 9999px;

        .range {
          position: absolute;
          height: 4px;
          background-color: var(--brand);
          border-radius: 9999px;
        }
      }

      .thumb {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-color: var(--brand);
        border-radius: 9999px;
        cursor: grab;
        transition: ease transform 0.2s;

        &:hover {
          transform: translateY(-50%) scale(1.2);
        }
      }

      &[data-grabbing="true"] {
        .thumb {
          cursor: grabbing;
        }
      }
    }
  }

  &[data-type="choose"] {
    .trigger {
      display: flex;
      align-items: center;

      width: 100%;
      text-align: left;

      background-color: var(--brand) !important;
      border-radius: 6px;
      color: #fff;
    }

    .trigger[data-state="open"] {
      border-radius: 6px 6px 0 0;
    }

    .label {
      flex: 1;
      padding: 8px 10px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
    }

    .chevron {
      margin-left: auto;
      margin-right: 1rem;
      width: 12px;
      height: 12px;
      fill: #fff;
    }
  }
}

.choose-options {
  width: calc(var(--width) - 2rem - 2px);
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  user-select: none;
  border: 2px solid var(--brand);
  background-color: rgba(0, 0, 0, 0.7);

  .option {
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
  }

  .option:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .option[aria-selected="true"] {
    color: var(--brand);
  }
}
